node_modules/
.next/
out/
.env
.env.local
*.log
db/
backups/
repos-check/
seo-keyword-tracker/
upload/
mini-services/
examples/
scripts/logs/
.vercel/
*.tar.gz
public/dungeon/
public/character/
public/planets/
public/animals/
public/forest/
public/fonts/
public/photo*
public/resume*
public/experience/
.zscripts/
.vercel
